<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home:: headFragment(pageTitle='Actions')"></head>
<style>
    button{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    p{
        font-weight: bold;
        font-size: large;
        align-content: end;
        margin-right: 40px;
    }
    .cron-text{
        display: none;
    }

</style>
<script th:inline="javascript">
    $(document).ready(function (){
        $("#alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#alert").slideUp(500);
        });

        $(".cron-check").click(function (){
            var modalId = $(this).closest("div .modal").attr('id');
            $('#'+modalId).find("#end").toggle("slow");
            $('#'+modalId).find("#repeat").toggle("slow");
            $('#'+modalId).find("#run").toggle("slow");
            $('#'+modalId).find("#totalFire").toggle("slow");
            $('#'+modalId).find("#cron-text").toggle("slow");
        });
    });
</script>
<body>
    <div th:insert="home:: navbar"></div>

    <div th:unless="${noaction}" th:class="${status} ?'alert alert-success': 'alert alert-danger'" id="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong th:text="${status} ? 'Success!':'Failed!'"> </strong> in performing
        <strong th:text="${message}"></strong>
    </div>
    <div>
        <h1 class="display-4" align="center">Job Actions</h1>
    </div>

    <div align="center" class="container">
        <div th:each="job : ${jobList}" class="row mt-1" style="margin-bottom: 20px">
            <form th:action="@{/action/__${job.getJobName()}__}" method=post>
                <div class="col-sm-4" style="align-items: end">
                    <p th:text="${job.getJobName()}"></p>
                </div>
                <div class="col-sm-8">
                        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal"
                                th:attrappend="data-target=${job.getJobName()}">Update</button>
                        <button type="submit" th:name="action" th:value="pause" class="btn btn-warning">Pause</button>
                        <button type="submit" th:name="action" th:value="resume" class="btn btn-success">Resume</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteJob"
                                th:attrappend="data-target=${job.getJobName()}">Delete</button>


                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog" th:attrappend="id=${job.getJobName()}">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" th:text="${job.getJobName()}"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/action/__${job.getJobName()}__}" th:object="${timer}" method=post>

                                            <div id="start" class="form-group row">
                                                <label th:for="startDate" class="col-sm-4 col-form-label">Start Date</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="datetime-local" th:name="startDate"
                                                           th:value="${job.getStartDate()}" th:id="startDate" />
                                                </div>
                                            </div>
                                            <div id="cron" class="form-group row">
                                                <label th:for="cronJob" class="col-sm-4 col-form-label">Cron Job</label>
                                                <div class="form-check col-sm-8">
                                                    <input class="form-check-input cron-check" type="checkbox"
                                                           th:value="${job.isCronJob()}" id="cronJob"
                                                           th:name="cronJob" th:id="cronJob">
                                                </div>
                                            </div>
                                            <div id="end" class="form-group row end">
                                                <label th:for="endDate" class="col-sm-4 col-form-label">End Date</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="datetime-local"
                                                           th:value="${job.getEndDate()}" th:name="endDate" th:id="endDate">
                                                </div>
                                            </div>
                                            <div id="repeat" class="form-group row">
                                                <label th:for="repeatInterval" class="col-sm-4 col-form-label">Trigger Interval</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" type="number"
                                                           th:value="${job.getRepeatInterval()}" th:name="repeatInterval" th:id="repeatInterval">
                                                </div>
                                            </div>
                                            <div id="run" class="form-group row">
                                                <label th:for="runForever" class="col-sm-4 col-form-label">Run Forever</label>
                                                <div class="form-check col-sm-8">
                                                    <input class="form-check-input" type="checkbox"
                                                           th:value="${job.isRunForever()}" th:name="runForever" th:id="runForever">
                                                </div>
                                            </div>
                                            <div id="totalFire" class="form-group row">
                                                <label th:for="totalFireCount" class="col-sm-4 col-form-label">Trigger Count</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" type="number"
                                                           th:value="${job.getTotalFireCount()}" th:name="totalFireCount" th:id="totalFireCount">
                                                </div>
                                            </div>
                                            <div id="cron-text" class="form-group row cron-text">
                                                <label th:for="cronExpression" class="col-sm-4 col-form-label">Cron Expression</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" type="number"
                                                           th:value="${job.getCronExpression()}" th:name="cronExpression" th:id="cronExpression">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" th:name="action" th:value="update" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!-- Modal -->
                        <div class="modal fade" id="deleteJob" th:attrappend="id=${job.getJobName()}"
                             tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteJobTitle"
                                            th:text="${job.getJobName()}">Job deletion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure, you want to delete this job ?
                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{/action/__${job.getJobName()}__}" method=post>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" th:name="action" th:value="delete" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </form>
        </div>
    </div>
</body>
</html>