<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home:: headFragment(pageTitle='All Running Jobs')"></head>
<body>
    <div th:insert="home:: navbar"></div>
    <div>
        <h1 class="display-4" align="center">All running jobs</h1>
    </div>
    <container>
        <div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Job Name</th>
                        <th scope="col">Cron Job</th>
                        <th scope="col">Initialized At</th>
                        <th scope="col">End At</th>
                        <th scope="col">Trigger Interval (in seconds)</th>
                        <th scope="col">Run Forever</th>
                        <th scope="col">Trigger Count</th>
                        <th scope="col">Cron Expression</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${allRunningJobDetails.isEmpty()}">
                        <td colspan="2"> No Jobs Available </td>
                    </tr>
                    <tr th:each="TimerInfo: ${allRunningJobDetails}">
                        <td><span th:text="${TimerInfo.getJobName()}"></span></td>
                        <td><span th:text="${TimerInfo.isCronJob()}"> </span></td>
                        <td><span th:text="${TimerInfo.getStartDate()}"></span></td>
                        <td><span th:text="${TimerInfo.getEndDate()}"> </span></td>
                        <td><span th:text="${TimerInfo.getRepeatInterval()}"></span></td>
                        <td><span th:text="${TimerInfo.isRunForever()}"></span></td>
                        <td><span th:text="${TimerInfo.getTotalFireCount()}"> </span></td>
                        <td><span th:text="${TimerInfo.getCronExpression()}"> </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </container>
</body>
</html>