<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Quartz Application</title>
     <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<div class="container">  
  <form id="contact" th:action="@{/runTimer}" method=post th:object="${timer}">
    <h3>Job Details</h3>
    <label>Start Date</label>
    <fieldset>
      <input placeholder="start" type="datetime-local" th:field="*{startDate}" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <label>Cron Job</label>
      <input type="checkbox" id="cronJob" th:field="*{cronJob}"  onclick="switchJobType()" tabindex="3">
    </fieldset>

    <fieldset id="endDate">
      <label>End date</label><br/>
      <input placeholder="end" type="datetime-local" th:field="*{endDate}" tabindex="1" required autofocus>
    </fieldset>
    <fieldset id="repeatInterval">
      <label>Trigger interval </label><br>
      <input type="number" th:field="*{repeatInterval}" tabindex="2" required>
    </fieldset>
    <fieldset id="runForever">
      <label>Run Forever</label>
      <input type="checkbox" th:field="*{runForever}" tabindex="3">
    </fieldset>
    <fieldset id="triggerCount">
    	<label>Trigger Count:</label><br>
      <input type="number" th:field="*{totalFireCount}" tabindex="4" required>
    </fieldset>

    <fieldset id="cronExpression">
      <label>Cron Expression:</label><br>
      <input type="text" th:field="*{cronExpression}" tabindex="4">
    </fieldset>

    <fieldset>
    		<label>Select a job to be scheduled:</label>
    		<select th:field="*{jobName}">
            	<option th:each="job : ${jobList}" th:value="${job}" th:text="${job}" />
        	</select>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>

</body>
</html>